body {
    padding: 0;
    margin: 0 auto;
}
main {
    width: 100%;
    margin: 0 auto;
}
.kodfun-galeri {
    display: flex;
    height:20rem;
    gap: 1rem;
}
.kodfun-galeri > img {
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
}
.kodfun-galeri > img:hover {
    flex: 5;
}
main {
    width: 800px;
}